---
import '../styles/global.css'
---
<!DOCTYPE HTML>
<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/logo.png"/>
    <meta name="author" content="Ciro Andrea Strazzullo"/>
    <meta name="description"
          content="Match Time è un'applicazione indipendente che mostra l'elenco delle partite di pallavolo in tempo reale in modo organizzato."/>
    <title>Match Time</title>
</head>
<body>
<slot/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
