---
import '../styles/global.css'
---
<!DOCTYPE HTML>
<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="author" content="Ciro Andrea Strazzullo"/>
    <title>Match Time</title>
</head>
<body>
<slot/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
